{% extends 'layouts/base.html' %}

{% block content %}
<h1>Sign Up</h1>
<form method="POST" action="{{ url_for('auth.register') }}">
	{{ form.csrf_token }}
	{{ form.username.label }}
	{{ form.username(placeholder_='Enter your username') }}
	{{ form.email.label }}
	{{ form.email(placeholder_='Enter your email') }}
	{{ form.password.label }}
	{{ form.password(placeholder_='Enter your password') }}
	{{ form.confirm.label }}
	{{ form.confirm(placeholder_='Enter your confirmation password') }}
	<input type="submit" value="Sign Up">
</form>
<p>or</p>
<a href="#" class="google-btn">Sign up with Google</a>
<a href="#" class="facebook-btn">Sign up with Facebook</a>
{% endblock %}